<a href="https://colab.research.google.com/github/Vinicius-L-R-Matos/-Repositorio-DS/blob/master/_notebooks/2020_11_20_An%C3%A1lise_explorat%C3%B3ria_AirBnb_via_API.ipynb" target="_parent"><img src="https://colab.research.google.com/assets/colab-badge.svg" alt="Open In Colab"/></a>


# Análise exploratória AirBnb via API
> "Como acessei um serviço para analizar dados"

- toc: false
- branch: master
- badges: true
- comments: false
- categories: [fastpages, jupyter, Data exploration]
- hide: false
- author: Vinicius Matos

---

API é um objeto criado por empresas quando tem a intenção de que outros criadores de software desenvolvam produtos associados ao seu serviço. 

Para isso disponibilizam os códigos e instruções para serem usados em outros sites da maneira mais prática para seus usuários.

A palavra API traduzida é algo como Interface de Programação de Aplicativos.

Como exercício realizei toda a preparação e limpeza dos dados do dataset a seguir do [Airbnb](https://www.airbnb.com.br/)

**Dataset**

Este conjunto de dados descreve a atividade de listagem e as métricas em NYC para o ano de 2019.

Este arquivo de dados inclui todas as informações necessárias para descobrir mais sobre hosts, disponibilidade geográfica, métricas necessárias para fazer previsões e tirar conclusões.

# Pré requisitos:

O resultado fica bem fiel. Para usar, necessita de:

- Notebook do Colab aberto
- Noções de Python
- Conexão com a interet
- Url da API que deseja usar

# 1 - Importando as bibliotecas:

Duas blibliotecas são necessárias aqui. Pandas e Numpy.

In [1]:
#Importação de Bibliotecas necessárias
import pandas as pd
import numpy as np

# 2 - Acessando os repositórios:

Declarei a url da API, que no caso é um arquivo csv, como uma variável.

In [2]:
airbnb_url = 'https://raw.githubusercontent.com/ManarOmar/New-York-Airbnb-2019/master/AB_NYC_2019.csv'
# este é o acesso público para a API
airbnb_ori = pd.read_csv(airbnb_url)
airbnb = airbnb_ori.copy()
wrong_spelling = ['manhatann', 'brookln', 'Blookn', 'Quinns','Broonx'] * 10
random_index = airbnb.sample(50, random_state = 10).index
airbnb.loc[random_index,'neighbourhood_group'] = wrong_spelling
airbnb.loc[random_index,'name'] = 'nan'

Ao nomear o aquivo para outra variável, posso realizari comando "print()", paraconhecer melhor o incio e algumas métricas.

In [3]:
#Testando se está ok

print(airbnb)

             id  ... availability_365
0          2539  ...              365
1          2595  ...              355
2          3647  ...              365
3          3831  ...              194
4          5022  ...                0
...         ...  ...              ...
48890  36484665  ...                9
48891  36485057  ...               36
48892  36485431  ...               27
48893  36485609  ...                2
48894  36487245  ...               23

[48895 rows x 16 columns]

# 3 - Carregando as aplicações:

Declaro uma df, que será a base para relaizar a análise. Ela abre o mesmo arquivo que fiz upload notebook.

In [9]:
#df = pd.read_csv('airbnb', index_col=0)
df = pd.read_csv('AB_NYC_2019.csv', index_col=0)

Tudo certo. Hora de manipular as linhas.

# 4 - Definindo os argumentos:

Aqui coloquei na ordem os imóveis com maior quantidade de reviews.

In [12]:
df.sort_values('number_of_reviews', ascending=False, inplace=True)
print(df.head())

                                    name  ...  availability_365
id                                        ...
9145202          Room near JFK Queen Bed  ...               333
903972        Great Bedroom in Manhattan  ...               293
903947    Beautiful Bedroom in Manhattan  ...               342
891117      Private Bedroom in Manhattan  ...               339
10101135         Room Near JFK Twin Beds  ...               173

[5 rows x 15 columns]

Demonstrndo que propriedades não foram afetadas.

In [11]:
print(df.shape)

(48895, 15)

Agora quero conhecer estatísticas simples com a função "describe()"

In [ ]:
df.describe()

            host_id  ...  availability_365
count  4.889500e+04  ...      48895.000000
mean   6.762001e+07  ...        112.781327
std    7.861097e+07  ...        131.622289
min    2.438000e+03  ...          0.000000
25%    7.822033e+06  ...          0.000000
50%    3.079382e+07  ...         45.000000
75%    1.074344e+08  ...        227.000000
max    2.743213e+08  ...        365.000000

[8 rows x 9 columns]

E para conhecer o nome das colunas e quantidade de itens em cada, uso a função "info()"

In [13]:
df.info()

<class 'pandas.core.frame.DataFrame'>
Int64Index: 48895 entries, 9145202 to 36487245
Data columns (total 15 columns):
 #   Column                          Non-Null Count  Dtype
---  ------                          --------------  -----
 0   name                            48879 non-null  object
 1   host_id                         48895 non-null  int64
 2   host_name                       48874 non-null  object
 3   neighbourhood_group             48895 non-null  object
 4   neighbourhood                   48895 non-null  object
 5   latitude                        48895 non-null  float64
 6   longitude                       48895 non-null  float64
 7   room_type                       48895 non-null  object
 8   price                           48895 non-null  int64
 9   minimum_nights                  48895 non-null  int64
 10  number_of_reviews               48895 non-null  int64
 11  last_review                     38843 non-null  object
 12  reviews_per_month               38843 non-null  float64
 13  calculated_host_listings_count  48895 non-null  int64
 14  availability_365                48895 non-null  int64
dtypes: float64(3), int64(6), object(6)
memory usage: 6.0+ MB

Quero ver agora apenas os 5 primeiros valores, com todas as colunas.

In [14]:
df.head(5)

                                    name  ...  availability_365
id                                        ...
9145202          Room near JFK Queen Bed  ...               333
903972        Great Bedroom in Manhattan  ...               293
903947    Beautiful Bedroom in Manhattan  ...               342
891117      Private Bedroom in Manhattan  ...               339
10101135         Room Near JFK Twin Beds  ...               173

[5 rows x 15 columns]

E os últimos.

In [15]:
df.tail(5)

                                                       name  ...  availability_365
id                                                           ...
34337032           1 Bed/ 1 Bath / Columbus Circle/ Balcony  ...               181
34337151   STUNNING 2BR ON MCCARREN PARK WITH PARKING SPOT!  ...                24
2958912                 STUNNING! 1BD Jr in Midtown East NY  ...               365
34337805                                     Ridgewood Love  ...               180
36487245  Trendy duplex in the very heart of Hell's Kitchen  ...                23

[5 rows x 15 columns]

Aquele que possui todos os maiores valores.

In [16]:
df.max()

host_id                               274321313
neighbourhood_group               Staten Island
neighbourhood                          Woodside
latitude                                40.9131
longitude                               -73.713
room_type                           Shared room
price                                     10000
minimum_nights                             1250
number_of_reviews                           629
reviews_per_month                          58.5
calculated_host_listings_count              327
availability_365                            365
dtype: object

Aquele que possui os mínimos.

In [ ]:
df.min()

host_id                                      2438
neighbourhood_group                         Bronx
neighbourhood                            Allerton
latitude                                  40.4998
longitude                                -74.2444
room_type                         Entire home/apt
price                                           0
minimum_nights                                  1
number_of_reviews                               0
reviews_per_month                            0.01
calculated_host_listings_count                  1
availability_365                                0
dtype: object

Se existem valores duplicados.

In [17]:
## Validação de Duplicadas 
duplicados = df[df.duplicated()]
print(duplicados)

Empty DataFrame
Columns: [name, host_id, host_name, neighbourhood_group, neighbourhood, latitude, longitude, room_type, price, minimum_nights, number_of_reviews, last_review, reviews_per_month, calculated_host_listings_count, availability_365]
Index: []

Nenhum. Ótimo! Mas ainda podem existir nomes duplicados.

In [18]:
#Para saber se existem nomes iguais em descrissão de locação
print(df[df.duplicated(subset=['name'])])

                                                      name  ...  availability_365
id                                                          ...
9434513                2000sq $2 million 3 story townhouse  ...               363
1330056                Spacious Loft 5 min to Union Square  ...               359
482765                       Beautiful Brooklyn Brownstone  ...                12
18946416                     Beautiful Brooklyn Brownstone  ...               274
18091991                                         Cozy Room  ...               128
...                                                    ...  ...               ...
35461209  Freshly furnished private room - GREAT Location!  ...               219
2925138                            Steps from Central Park  ...                 0
35461527        Artsy Private BR in Fort Greene Cumberland  ...               342
35461700        Artsy Private BR in Fort Greene Cumberland  ...               341
35461620        Artsy Private BR in Fort Greene Cumberland  ...               305

[989 rows x 15 columns]

In [ ]:
Contabilizadas 989 ocorrências.

# Conclusão

A aplicação roda perfeitamente e possibilita ainda exportar a dados gerados para demais usos.

Acredito que desta forma será mais simples usar este processo mais vezes, ou quem sabe passar à frente.

O processo pode ser acessado em Notebook Colab no início desta postagem e reproduzido livremente.

A API tem quantidade relevante de nomes duplicados. Pode afetar análises que deendam disso.