<a href="https://colab.research.google.com/github/Vinicius-L-R-Matos/-Repositorio-DS/blob/master/_notebooks/2021_11_20_Limpeza_Dataset_Spotify_via_API.ipynb" target="_parent"><img src="https://colab.research.google.com/assets/colab-badge.svg" alt="Open In Colab"/></a>

# Limpeza Dataset Spotify via API
> "Estruturando dados obtidos"

Hoje iremos explorar e realizar a limpeza de um dataset do Spotify disponivel em :
[Dataset Spotify](
https://www.kaggle.com/vitoriarodrigues/spotifycsv-file-modified-for-data-cleaning)

Temos um conjunto de dados de músicas de 2017 com atributos da API do Spotify. Cada música possui a flag "1", o que significa que tiveram like , e "0" para as músicas que tiveram dislike.

Este dataset é disponibilizado para uma futura clusterização a partir dos principais atributos das músicas

Ele possui 13 atributos de cada música: acousticness, danceability, durationms, energy, instrumentalness, key, liveness, loudness, mode, speechiness, tempo, timesignature, valence

Informações sobre o que essas características significam podem ser encontradas aqui: [API SPOTIFY](https://developer.spotify.com/web-api/get-audio-features/)

Rota para API: [Rota Track](https://developer.spotify.com/documentation/web-api/reference/#/operations/get-several-audio-features)

Como cada API necessita de acesso e permissões específicos, para efeitos de estudos, vou usar o Kaggle. Ele se encontra propositdamente com dados faltantes, devido ao desafio do site.

# Pré requisitos:

O resultado fica bem fiel. Para usar, necessita de:

- Notebook do Colab aberto
- Noções de Python
- Conexão com a interet
- Url da API que deseja usar

# 1 - Importando as bibliotecas:

Duas blibliotecas são necessárias aqui. Pandas e Numpy.

In [1]:
# Importação de Bibliotecas necessárias
import pandas as pd
import numpy as np

Aqui eu abri o csv obtido no Kaggle e rankeio de acordo com a popularidade das músicas.

In [4]:
# Vamos ordernar os dados pela popularidade da música
df = pd.read_csv('spotify.csv', index_col=0)
df.sort_values('song_popularity', ascending=False, inplace=True)
df.head(5)

                    song_name song_popularity  ... time_signature audio_valence
1757      Party In The U.S.A.         nao_sei  ...            0.7           NaN
7574   I Love It (& Lil Pump)              99  ...              4         0.329
11777  I Love It (& Lil Pump)              99  ...              4         0.329
4301   I Love It (& Lil Pump)              99  ...              4         0.329
14444  I Love It (& Lil Pump)              99  ...              4         0.329

[5 rows x 15 columns]

# 2 - Inspeção Dataset:

In [5]:
## Temos no total 18835 linhas e 15 colunas
print(df.shape)

(18835, 15)

In [7]:
df.head(5)

                    song_name song_popularity  ... time_signature audio_valence
1757      Party In The U.S.A.         nao_sei  ...            0.7           NaN
7574   I Love It (& Lil Pump)              99  ...              4         0.329
11777  I Love It (& Lil Pump)              99  ...              4         0.329
4301   I Love It (& Lil Pump)              99  ...              4         0.329
14444  I Love It (& Lil Pump)              99  ...              4         0.329

[5 rows x 15 columns]

In [6]:
## O método .info() é muito pratico e retorna a quantidade de dados nulos do DataFrame, número total de entradas e datatypes de cada coluna.
## Doc - https://pandas.pydata.org/docs/reference/api/pandas.DataFrame.info.html
## Verificando Tipo de Dados e Valores Não Nulos
## Inicialmente não possuimos dados nulo
df.info()

<class 'pandas.core.frame.DataFrame'>
Int64Index: 18835 entries, 1757 to 9956
Data columns (total 15 columns):
 #   Column            Non-Null Count  Dtype
---  ------            --------------  -----
 0   song_name         18835 non-null  object
 1   song_popularity   18835 non-null  object
 2   song_duration_ms  18835 non-null  object
 3   acousticness      18835 non-null  object
 4   danceability      18835 non-null  object
 5   energy            18835 non-null  object
 6   instrumentalness  18835 non-null  object
 7   key               18835 non-null  float64
 8   liveness          18835 non-null  object
 9   loudness          18835 non-null  object
 10  audio_mode        18835 non-null  object
 11  speechiness       18835 non-null  object
 12  tempo             18835 non-null  object
 13  time_signature    18835 non-null  object
 14  audio_valence     18834 non-null  float64
dtypes: float64(2), object(13)
memory usage: 2.3+ MB

In [8]:
## Fornece Informações como contagem, valores dos quartis, média, desvio padrão, máximo e mínimo.
## Doc - https://pandas.pydata.org/docs/reference/api/pandas.DataFrame.describe.html?highlight=describe#pandas.DataFrame.describe
## Aqui observamos apenas duas colunas pois os formatos das outras esta como Object e assim ele não consegue calcular as agregações necessárias.
df.describe()

                key  audio_valence
count  18835.000000   18834.000000
mean       5.288674       0.527958
std        3.614624       0.244635
min        0.000000       0.000000
25%        2.000000       0.335000
50%        5.000000       0.526500
75%        8.000000       0.725000
max       11.000000       0.984000

# 3 - Removendo duplicadas:

In [9]:
## Validação de Duplicadas 
duplicados = df[df.duplicated()]
print(duplicados)

                               song_name  ... audio_valence
11777             I Love It (& Lil Pump)  ...         0.329
4301              I Love It (& Lil Pump)  ...         0.329
14444             I Love It (& Lil Pump)  ...         0.329
1229              I Love It (& Lil Pump)  ...         0.329
3443              I Love It (& Lil Pump)  ...         0.329
...                                  ...  ...           ...
14292  Get Dripped (feat. Playboi Carti)  ...         0.904
7273                       John Madden 2  ...         0.409
6514                        THIS OLE BOY  ...         0.764
14312    Transformer (feat. Nicki Minaj)  ...         0.287
7275                     Prince Charming  ...         0.605

[3903 rows x 15 columns]

In [10]:
## Quando necessário podemos utilizar o subset para especificar colunas especificas onde procuraremos duplicadas,
## Exemplo de uso em um cenário onde vc pode ter diversos valores iguais mas a combinação que não pode se repetir é em duas chaves especificas.
print(df[df.duplicated(subset=['song_name','audio_valence'])])

                             song_name  ... audio_valence
11777           I Love It (& Lil Pump)  ...        0.3290
4301            I Love It (& Lil Pump)  ...        0.3290
14444           I Love It (& Lil Pump)  ...        0.3290
1229            I Love It (& Lil Pump)  ...        0.3290
3443            I Love It (& Lil Pump)  ...        0.3290
...                                ...  ...           ...
7273                     John Madden 2  ...        0.4090
6514                      THIS OLE BOY  ...        0.7640
14312  Transformer (feat. Nicki Minaj)  ...        0.2870
7275                   Prince Charming  ...        0.6050
7939                           99 Pace  ...        0.0689

[4161 rows x 15 columns]

In [11]:
## Podemos remover estes valores duplicados utilizando o drop_duplicates
## Doc - https://pandas.pydata.org/docs/reference/api/pandas.DataFrame.drop_duplicates.html
df.drop_duplicates(inplace=True) 
print(df.shape)
df.head(5)

(14932, 15)

                                            song_name  ... audio_valence
1757                              Party In The U.S.A.  ...           NaN
7574                           I Love It (& Lil Pump)  ...         0.329
17588  Taki Taki (with Selena Gomez, Ozuna & Cardi B)  ...         0.591
17394                       Promises (with Sam Smith)  ...         0.486
12665                 Eastside (with Halsey & Khalid)  ...         0.319

[5 rows x 15 columns]

# 4 - Validando consistência:

Como vimos anteriormente temos campos que seriam númericos porém possuem texto e um texto que não condiz com o nome da coluna, aqui temos métricas de kg e mol/L

In [12]:
def remove_text (df, columns, text):
    for col in columns:
        df[col] = df[col].str.strip(text)

In [13]:
remove_text(df, ['acousticness', 'danceability'], 'mol/L')
remove_text(df, ['song_duration_ms', 'acousticness'], 'kg')

In [14]:
df.head(5)

                                            song_name  ... audio_valence
1757                              Party In The U.S.A.  ...           NaN
7574                           I Love It (& Lil Pump)  ...         0.329
17588  Taki Taki (with Selena Gomez, Ozuna & Cardi B)  ...         0.591
17394                       Promises (with Sam Smith)  ...         0.486
12665                 Eastside (with Halsey & Khalid)  ...         0.319

[5 rows x 15 columns]

# 5 - Transformações DataType:

In [15]:
## A Conversão do tipo da coluna pode ser feito por meio do .astype() que faz a conversão no pandas.
## Doc - https://pandas.pydata.org/docs/reference/api/pandas.Series.astype.html?highlight=astype#pandas.Series.astype
def to_type(df, columns, type):
    for col in columns:
        print(col)
        df[col] = df[col].astype(type)

numerical_cols = ['song_duration_ms', 'acousticness', 'danceability',
                  'energy', 'instrumentalness', 'liveness', 'loudness',
                  'speechiness', 'tempo', 'audio_valence']
 
categorical_cols = ['song_popularity', 'key', 'audio_mode', 'time_signature']

to_type(df, numerical_cols, 'float')
to_type(df, categorical_cols, 'category')

song_duration_ms
acousticness
danceability
energy

ValueError: ignored

In [16]:
## Com o replace podemos substituir demais valores que são inconsistentes 
df = df.replace(['nao_sei'], np.nan)

In [17]:
to_type(df, numerical_cols, 'float')
to_type(df, categorical_cols, 'category')

song_duration_ms
acousticness
danceability
energy
instrumentalness
liveness
loudness
speechiness

ValueError: ignored

In [18]:
df['speechiness'] = df['speechiness'].replace(['0.nao_sei'], np.nan)

In [19]:
to_type(df, numerical_cols, 'float')
to_type(df, categorical_cols, 'category')

song_duration_ms
acousticness
danceability
energy
instrumentalness
liveness
loudness
speechiness
tempo
audio_valence
song_popularity
key
audio_mode
time_signature

In [20]:
df.info()

<class 'pandas.core.frame.DataFrame'>
Int64Index: 14932 entries, 1757 to 9956
Data columns (total 15 columns):
 #   Column            Non-Null Count  Dtype
---  ------            --------------  -----
 0   song_name         14932 non-null  object
 1   song_popularity   14931 non-null  category
 2   song_duration_ms  14932 non-null  float64
 3   acousticness      14932 non-null  float64
 4   danceability      14932 non-null  float64
 5   energy            14931 non-null  float64
 6   instrumentalness  14930 non-null  float64
 7   key               14932 non-null  category
 8   liveness          14928 non-null  float64
 9   loudness          14931 non-null  float64
 10  audio_mode        14931 non-null  category
 11  speechiness       14931 non-null  float64
 12  tempo             14931 non-null  float64
 13  time_signature    14931 non-null  category
 14  audio_valence     14931 non-null  float64
dtypes: category(4), float64(10), object(1)
memory usage: 1.4+ MB

In [21]:
## Validação Variaveis Categoricas 
## Uma forma de validação é verificar a quantidade de elementos em cada uma das categorias. 
for col in categorical_cols:
  print(f'{col}')
  print(df[col].value_counts().sort_values())

song_popularity
99       1
100      1
98       4
97       4
96       5
      ...
54     324
53     325
55     345
58     347
52     355
Name: song_popularity, Length: 101, dtype: int64
key
0.177       1
3.0       433
10.0     1045
8.0      1047
6.0      1048
4.0      1084
11.0     1223
5.0      1257
2.0      1399
9.0      1410
1.0      1596
7.0      1654
0.0      1735
Name: key, dtype: int64
audio_mode
0.105       1
0        5496
1        9434
Name: audio_mode, dtype: int64
time_signature
2800000000        1
0.7               1
0                 3
1                67
5               195
3               684
4             13980
Name: time_signature, dtype: int64

In [22]:
## Acima observamos em cada uma das colunas alguns valores estranhos como 0.177 para key, e 0.105 para uma variavel binaria como audio_mode;
df['key'] = df['key'].replace([0.177], np.nan)
df['audio_mode'] = df['audio_mode'].replace(['0.105'], np.nan)
df['time_signature'] = df['time_signature'].replace(['0.7', '2800000000'], np.nan)

A partir de agora, temos um dataset com o minimo de consistencia e sem valores duplicados

In [23]:
df.info()

<class 'pandas.core.frame.DataFrame'>
Int64Index: 14932 entries, 1757 to 9956
Data columns (total 15 columns):
 #   Column            Non-Null Count  Dtype
---  ------            --------------  -----
 0   song_name         14932 non-null  object
 1   song_popularity   14931 non-null  category
 2   song_duration_ms  14932 non-null  float64
 3   acousticness      14932 non-null  float64
 4   danceability      14932 non-null  float64
 5   energy            14931 non-null  float64
 6   instrumentalness  14930 non-null  float64
 7   key               14931 non-null  category
 8   liveness          14928 non-null  float64
 9   loudness          14931 non-null  float64
 10  audio_mode        14930 non-null  category
 11  speechiness       14931 non-null  float64
 12  tempo             14931 non-null  float64
 13  time_signature    14929 non-null  category
 14  audio_valence     14931 non-null  float64
dtypes: category(4), float64(10), object(1)
memory usage: 1.4+ MB

In [24]:
## Validando quantidade de nulos de forma explicita
df.isna().sum()

song_name           0
song_popularity     1
song_duration_ms    0
acousticness        0
danceability        0
energy              1
instrumentalness    2
key                 1
liveness            4
loudness            1
audio_mode          2
speechiness         1
tempo               1
time_signature      3
audio_valence       1
dtype: int64

In [25]:
## Também podemos remover valores negativos que não fazem sentido do ponto de vista do problema como duração da música negativa
df[df[numerical_cols]<0].count()

song_name               0
song_popularity         0
song_duration_ms        1
acousticness            0
danceability            0
energy                  0
instrumentalness        0
key                     0
liveness                1
loudness            14923
audio_mode              0
speechiness             0
tempo                   0
time_signature          0
audio_valence           0
dtype: int64

# 6 - Remoção de Colunas:

Algumas colunas podem ser consideradas desnecessárias para nossa análise, isso porque elas não nos passam informações relevantes a respeito do que queremos descobrir, ou até mesmo porque possuem tantos dados faltantes que mais atrapalham do que ajudam. Nesses casos uma forma rápida e fácil de solucionar esse problema seria excluí-las. 

Aqui eliminaremos apenas uma a nivel de experimentação.

In [26]:
## Podemos deletar passando o index e a orientação onde axis = 0 representa linhas e axis = 1 representa colunas
## Doc - https://pandas.pydata.org/docs/reference/api/pandas.DataFrame.drop.html
df.drop(['liveness'], axis=1)

                                            song_name  ... audio_valence
1757                              Party In The U.S.A.  ...           NaN
7574                           I Love It (& Lil Pump)  ...         0.329
17588  Taki Taki (with Selena Gomez, Ozuna & Cardi B)  ...         0.591
17394                       Promises (with Sam Smith)  ...         0.486
12665                 Eastside (with Halsey & Khalid)  ...         0.319
...                                               ...  ...           ...
11278                                           María  ...         0.964
12923                                Unfuck The World  ...         0.518
11282                      Kimbya (feat. Manny Roman)  ...         0.676
12905                                       Mad World  ...         0.404
9956                               All in My Feelings  ...         0.247

[14932 rows x 14 columns]

In [28]:
## Ou podemos deletar diretamente passando o parametro columns
df.drop(columns=['liveness'], inplace=True)

KeyError: ignored

# 7 - Dados faltantes Missing Values:


Em algumas situações, podemos ter muitas informações incompletas no nosso df. Essas informações faltantes podem prejudicar nossa análise e outras etapas que dependem dela e do pré-processamento, portanto, precisamos removê-los ou substituir esses valores por outros. O fluxo a seguir pode auxiliar na decisão e trazer sugestões de como tratar cada caso.

![alt text](https://res.cloudinary.com/dyd911kmh/image/upload/v1633673400/handling-missing-values-diagram_xr4ryx.png "Fluxo de Tratamento Dados Faltantes https://www.datacamp.com/community/tutorials/data-preparation-with-pandas")

Para dados que não são séries temporais, nossa primeira opção é substitui-los pela média da coluna, entretanto, às vezes, a média pode ter sido afetada pelos valores destoantes da coluna (outliers), então podemos substituir também pela moda ou mediana. 

Podemos fazer isso com a função .fillna que preenche todos os campos com dados ausentes. Vamos criar alguns loops como exemplo.
O primeiro passa por algumas colunas e substitui os valores faltantes pela moda:

In [29]:
df.isna().sum()

song_name           0
song_popularity     1
song_duration_ms    0
acousticness        0
danceability        0
energy              1
instrumentalness    2
key                 1
loudness            1
audio_mode          2
speechiness         1
tempo               1
time_signature      3
audio_valence       1
dtype: int64

In [30]:
## Substituição Pela Moda
## Doc .fillna - https://pandas.pydata.org/docs/reference/api/pandas.DataFrame.fillna.html

for column in ['acousticness', 'speechiness']:
    df[column].fillna(df[column].mode()[0], inplace=True)

In [31]:
## Substituição pela Mediana 
for column in ['song_duration_ms',  'danceability', 'energy', 
                'loudness', 'audio_valence']:
    df[column].fillna(df[column].median(), inplace=True)

In [32]:
df.isna().sum()

song_name           0
song_popularity     1
song_duration_ms    0
acousticness        0
danceability        0
energy              0
instrumentalness    2
key                 1
loudness            0
audio_mode          2
speechiness         0
tempo               1
time_signature      3
audio_valence       0
dtype: int64

In [33]:
## Para excluir apenas os valores faltantes temos a função
## Doc - https://pandas.pydata.org/docs/reference/api/pandas.DataFrame.dropna.html?highlight=dropna#pandas.DataFrame.dropna
df.dropna(inplace=True)

In [34]:
df.isna().sum()

song_name           0
song_popularity     0
song_duration_ms    0
acousticness        0
danceability        0
energy              0
instrumentalness    0
key                 0
loudness            0
audio_mode          0
speechiness         0
tempo               0
time_signature      0
audio_valence       0
dtype: int64

# Conclusão

Ao final temos o dataset pronto para a análise exploratória, aqui ainda não tratamos outliers pois dependendo do cenário podemos fazer uso deles.

In [37]:
df.info()

<class 'pandas.core.frame.DataFrame'>
Int64Index: 14925 entries, 7574 to 9956
Data columns (total 14 columns):
 #   Column            Non-Null Count  Dtype
---  ------            --------------  -----
 0   song_name         14925 non-null  object
 1   song_popularity   14925 non-null  category
 2   song_duration_ms  14925 non-null  float64
 3   acousticness      14925 non-null  float64
 4   danceability      14925 non-null  float64
 5   energy            14925 non-null  float64
 6   instrumentalness  14925 non-null  float64
 7   key               14925 non-null  category
 8   loudness          14925 non-null  float64
 9   audio_mode        14925 non-null  category
 10  speechiness       14925 non-null  float64
 11  tempo             14925 non-null  float64
 12  time_signature    14925 non-null  category
 13  audio_valence     14925 non-null  float64
dtypes: category(4), float64(9), object(1)
memory usage: 1.3+ MB

In [38]:
df.head()

                                            song_name  ... audio_valence
7574                           I Love It (& Lil Pump)  ...         0.329
17588  Taki Taki (with Selena Gomez, Ozuna & Cardi B)  ...         0.591
17394                       Promises (with Sam Smith)  ...         0.486
12665                 Eastside (with Halsey & Khalid)  ...         0.319
17618                                  In My Feelings  ...         0.350

[5 rows x 14 columns]